.post-container {
    background: #e2e8d5;
    display: flex;
    flex-direction: column;
    padding: 3%;
    margin: 0 2%;
}
h5 {
    font-family: 'Redressed';
    font-size:  20px;
    color: purple;
    margin-bottom: 20px;
  }
  
.heading {
    height: 126px;
    text-align: center;
    display: flex;
    align-items: center;
}
.image {
    width: 100%;
    height: 210px;
}
button{
  align-items: center;
  text-align: bottom;
  font-family: 'Merriweather';
  padding: 5px 0;
  background-color: cornsilk;
  color: black;
}